* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  width: 95%;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1320px;
} */

img {
  height: 20rem;
}

body {
  background-image: url(https://res.cloudinary.com/dgbsqtmit/image/upload/v1682116497/polygon-scatter-haikei_dyyyqm.png);
}
